# Camera and shot config
RESIZE=300,300
SCORE_TH=0.5
SHOT_DELAY=2
CAMERA_INIT_DELAY=10

# rasp pi4 config


SLACK_TOKEN='qwertyuiopasdfghjklzxcvbnm'
SLACK_ERROR_LINK="https://github.com/bino-ocle/<your repo>"
SLACK_ERROR_LINK_NAME="<your repo>"